{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "space-before-function-paren": "off",
    "react/prefer-stateless-function": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "linebreak-style": "off",
    "global-require": "off",
    "class-methods-use-this": "warn",
    "semi": "error",
    "no-unused-vars": "off",
    "arrow-body-style": "off",
    "no-console": "off",
    "arrow-parens": "off",
    "react/prop-types": "off",
    "react/self-closing-comp": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "object-shorthand": "off"
  }
}
